.search-bar{
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: fit-content;
  margin-left: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.search-bar__input-container {
  padding: 10px;
  text-align: end;
  display: flex;
  justify-content: end;
}

.search-bar__input-container>*:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar__input-container>*:first-child:focus {
  border-left: 10px orange solid;
}

.search-bar__input-container>*:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-bar__input-container>*:last-child:focus {
  border-right: 10px orange solid;
}

.search-bar__button-container {
  padding: 10px;
  text-align: left;
}

.search-bar__clock {
  color: white;
  font-size: 20px;
}


