.collection__toggle-button {
  color: white;
  padding: 6px;
  border-radius: 6px;
  border: none;
  background: rgb(255, 145, 27);
  transition: transform ease 0.4s;
  transition-delay: 0.4s;

  &:hover {
    background-color: white;
    color: rgb(255, 145, 27);
    cursor: pointer;
  }
}

.collection__toggle-button--collection-visible {
  transform: translateX(-40px);
}