.collection__toggle-button {
  color: white;
  font-size: 18px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  padding: 6px;
  border: none;
  background: rgb(255, 145, 27);
  transition: transform ease 0.4s;
  transition-delay: 0.4s;

  &:hover {
    background-color: white;
    color: rgb(255, 145, 27);
    cursor: pointer;
  }
}

.collection__toggle-button--collection-visible {
  border-radius: 0;
  border-top-right-radius: 8px;
}